body {
	font-family: Arial,sans-serif;
	font-size: 14px;
}

.navbar {
	min-height: 80px;
}
.logo {
	padding-bottom: 10px;
    padding-top: 10px;
}
.logo img {
	max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-default {
	background-color: #fff;
}
.navbar-nav > li {
	margin-right: 30px;
}
.navbar-nav > li > a {
	background-color: transparent;
	border-top: 5px solid transparent;
    font-weight: bold;
    line-height: 60px;
    padding-left: 0;
    padding-right: 0;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #306E79;
}
.navbar-default .navbar-nav > li.active > a {
	border-top: 5px solid #306E79;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	background-color: transparent;
}
.navbar {
	margin-bottom: 0;
}

.swiper-container {
    width: 100% !important;
    height: auto;
    overflow: hidden;
}
.swiper-slide,
.partner-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    width: 100% !important;
}

.partner {
    text-align: center;
}
.partner-container {
    overflow: hidden;
}
.partner-slide {
    padding: 15px;
}

.homebox {

}
.homebox h2 {
	color: #306e79;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
}
.about {

}
.about p {
    text-align: justify;
}
.introduce {
    margin-top: 30px;
}
.introduceInner {
	margin-bottom: 10px;
}
.introduceInner p {
	font-size: 20px;
	font-weight: bold;
}
.introduceInner p i.fa {
	border: 2px solid #ff6666;
    border-radius: 100%;
    color: #ff6666;
    font-size: 30px;
    height: 70px;
    padding: 20px;
    width: 70px;
    margin-right: 10px;
}
.introduceInner span p {
    font-size: inherit;
    font-weight: normal;
}
.introduceP1 i.fa {
    
}
.introduceP2 i.fa {
    
}
.introduceP3 i.fa {
    font-size: 35px !important;
}

.bottom {
    background: #AFBDBE;
    padding-top: 15px;
    padding-bottom: 15px;
}
.bottom-left {

}
.bottom-left a {
    background: #ff6666 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 15px 30px;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
}
.bottom-left span {
    color: #fff;
    display: block;
    font-size: 18px;
    margin-top: 15px;
    text-transform: uppercase;
}
.bottom-right {
    text-align: right;
}
.bottom-right a {
    margin-left: 20px;
}
.bottom-right a i.fa {
    background-color: #799195;
    border-radius: 100%;
    color: #afbdbe;
    font-size: 45px;
    height: 75px;
    padding: 17px 22px;
    text-decoration: none;
    width: 75px;
}

.footer {
    background: #2F6D78;
    color: #c0c0c0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}
.footer a {
    color: #c0c0c0;
}
.footer ul {
    padding: 0;
}
.footer ul li {
    line-height: 30px;
    list-style: outside none none;
}
.footerMenu {
    
}
.footerFollow {
    
}
.footerAddress {
    
}
.footerCopyright {
    background: #2F6D78;
    border-top: 1px solid #4b8994;
    color: #c0c0c0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.center {
    text-align: center;
}
.pager li {
    margin-left: 5px;
    margin-right: 5px;
}

.main {
    border-top: 2px solid #306e79;
    padding-bottom: 30px;
    padding-top: 30px;
}

.grid {

}
.grid-item {

}
.grid-item a {
    text-decoration: none;
}
.grid-image {

}
.grid-image a {
    
}
.grid-image a img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.grid-text {

}
.grid-text h3 {

}
.grid-text h3 a {
    color: #306e79;
    font-size: 16px;
    font-weight: bold;
}
.grid-text p {
    
}
.grid-seemore a {
    color: #FF7374;
}

.detailTitle {

}
.detailTitle h1 {
    color: #306e79;
    font-size: 18px;
    font-weight: bold;
}
.detailContent {

}
.detailContent p {
    text-align: justify;
}
.detailContent img,
.detailContent table,
.detailContent iframe {
    max-width: 100% !important;
}
.detailImage img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.related {
    margin-top: 20px;
}
.related ul {
    padding-left: 15px;
}
.related ul li {
    line-height: 30px;
    list-style: outside none disc;
}
.related ul li a {
    color: #333;
    text-decoration: none;
}

.language_bar_chooser {
    display: inline-block;
    float: right;
}
.language_bar_chooser ul {

}
.language_bar_chooser ul li {

}
.language_bar_chooser ul li a {

}

.contact {

}
.contact h2,
.about h2 {
    color: #306e79;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}
.contact h3,
.about h3 {
    color: #ccc;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
}
.contact-input {
    background: #999999 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 9px;
    padding: 10px;
    resize: none;
}
.contact-submit {
    background: #ff6666 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
}

.about {

}
.about1,
.about2,
.about3 {
    padding-left: 15px;
    padding-right: 15px;
}
.about1 {

}
.about1 > strong,
.about3 > strong {
    color: #306E79;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.about1 img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.about2 {

}
.about2 table {
    border: none;
    width: 100%;
    max-width: 100%;
}
.about2 table tr td {
    padding-bottom: 15px;
}
.about2 table tr td.about2-1 {
    color: #306E79;
    width: 50px;
    vertical-align: top;
    font-weight: bold;
    text-align: right;
    font-size: 16px;
}
.about2 table tr td.about2-2 {
    vertical-align: top;
    padding-left: 10px;
}
.about3 {

}

.newsbox {
    margin-top: 15px;
    margin-bottom: 15px;
}
.newsbox h3 a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
.newsbox h3 a:hover,
.newsbox h3 a:focus {
    color: #306e79;
}

.langbox {
    margin-top: 30px;
}

.dd .ddTitle {
    background: transparent none repeat scroll 0 0 !important;
}

@media (min-width: 670px) {
    .grid-item {
        padding-left: 30px;
        padding-right: 30px;
        height: 480px;
    }
}

@media (min-width: 670px) and (max-width: 1024px) {
    .grid-item {
        height: 420px;
    }
}
@media (max-width: 669px) {
    .navbar-nav {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        border: none;
    }
    .navbar-nav > li {
        margin-right: 0;
    }
    .navbar-nav > li > a {
        line-height: normal;
        border-top: none;
    }
    .bottom-right {
        text-align: center;
        margin-top: 10px;
    }
}